@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
.container{
    display: flex;
    width: 100vw;
    min-height:100vh;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(#fff 50%, #25293C 50%);
    
}
.card{
    width: 250px;
    min-height: 350px;
    justify-content: space-evenly;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
    border-radius:8px;
}
.card:hover{
    transform:scale(1.2);
    transition:transform .3s ease .1s;

}
.card:nth-child(even) {
    background-color:#4E7BFF;
    color:#fff;
}
.card__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap:15px
}
.card__info{
    font-size:12px;
}
.card__btn{
    text-align: center;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius:25px;
    background:#25293C;
    color:#fff;
    border:none;
    cursor: pointer;
}
.card__btn:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.card__btn--white{
    background:#fff;
    color:#25293C;
}